<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="server_entry.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Serve static assets directly from browser/ folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.+\.(js|css|png|jpg|jpeg|gif|ico|svg|webp|woff|woff2|ttf|eot|json|map))$" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}browser\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="browser/{R:1}" appendQueryString="true" />
        </rule>

        <!-- All other requests go to Angular SSR via iisnode -->
        <rule name="AngularSSR" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server_entry.js" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="&quot;C:\Users\Administrator\AppData\Local\Author Software\nvm\installs\v24.21.0\node.exe&quot;"
      loggingEnabled="true"
      logDirectory="logs"
      devErrorsEnabled="true"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      watchedFiles="server_entry.js;web.config;server\*;browser\assets\config\*" />

    <webSocket enabled="false" />

    <!-- Ensure static file MIME types are registered -->
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

  </system.webServer>
</configuration>
